@import '~@/style/base.less';

.mainLayout {
  height: 100vh;
  width: 100vw;
}
.mainSideBar {
  :global {
    .ant-menu {
      .ant-menu-item{
        margin: 15px 0;
        &:first-child{
          margin: 20px 0;
          svg{
            fill:#eee
          }
        }
      }
      .logo-text{
        font-weight: 660;
        font-size: 20px;
        color:#eee;
      }
      span{
      font-size: 16px;
      }
      i{
        font-size: 18px;
      }
    }
    
  }
}
.mainHeader {
  background-color: #fff;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  :global {
    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 16px;
      cursor: pointer;
      transition: color 0.3s;
    }
    .trigger:hover {
      color: #108ee9;
    }
    .right{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 30px;
      li{
        border-right: 1px solid @gray-text;
        padding: 0 30px;
        height: 40px;
        display: flex;
        align-items: center;
        i{
          font-size: 20px;
          margin-right: 10px;
        }
        &:last-child{
          border-right: none;
        }
      }
      
    }
  }
}
.mainContent {
  margin: 24px 16px;
  padding: 24px;
  overflow-y: scroll;
  background-color: #fff;
  min-height: 280;
}
:global{
  .overEle{
    .ant-dropdown-menu-item{
      padding:10px 12px;
    }
  }
}