body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,li{
  list-style: none;
}
ul{
  margin:0;
  padding: 0;
}
*,*::before,*::after{
  box-sizing: border-box;
}


/* 自定义元素 */

/* 单选框 */
.custom-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  outline: none;
  margin-right: 5px;
  transition: all 200ms ease-out;
  position: relative;
  
}
.custom-radio::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-radius: 50%;
  transition: transform 0.2s ease-in;
  background-color: #3e97eb;
}
.custom-radio:hover{
border-color: #3e97eb;
background-color: #f5f5f5;
}
.custom-radio:disabled{
border-color: #d9d9d9;
background-color: #f5f5f5;
cursor: not-allowed;
}
.custom-radio:checked:before {
  transition: transform 0.2s ease-in;
  transform: scale(0.6);
}
.custom-radio:checked {
  animation: anitCheck 0.3s ease-in;
border-color: #3e97eb;
}
@keyframes anitCheck {
  50% {
    box-shadow: 0 0 2px 2px #3e97eb;
  }
} 

/* 多选框 */
.custom-checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  outline: none;
  margin:0 8px 0 0;
  transition: all 200ms ease-out;
  position: relative;
}
.custom-checkbox::before{
  content: '';
  position: absolute;
  background-color: transparent;
  top: 50%;
left: 3px;
width: 9px;
height: 5px;
margin-top: -4px;
border-style: solid;
border-color: #ffffff;
border-width: 0 0 2px 2px;
transform: rotate(-45deg) scale(0);
}
.custom-checkbox:hover{
border-color: #3e97eb;
background-color: #f5f5f5;
}
.custom-checkbox:disabled{
border-color: #d9d9d9;
background-color: #f5f5f5;
cursor: not-allowed;
}
.custom-checkbox:checked:before {
transform: rotate(-45deg) scale(1);
transition: transform 200ms ease-out;
}
.custom-checkbox:checked {
  animation: anitCheck 0.3s ease-in;
border-color: #3e97eb;
background-color: #3e97eb;
}
@keyframes anitCheck {
  50% {
    box-shadow: 0 0 2px 2px #3e97eb;
  }
} 

/* 切换键 */
.custom-toggle{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin-right: 5px;
  width: 35px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  background-color: #d6d6d6;
}
.custom-toggle:before{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: '';
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  transition: all 0.2s;
  box-sizing: border-box;
}
.custom-toggle:checked:before{
  left: 15px;
border-color: #3e97eb;
background-color: #ffffff;
}
.custom-toggle:checked{
  background-color: #3e97eb;
  outline:none;
}
.custom-toggle:focus{
  outline:none
}
.custom-toggle:disabled{
  border-color: #d9d9d9;
  background-color: #f5f5f5;
  cursor:no-drop;
}
.custom-toggle:disabled:before{
  border-color: #f5f5f5;
}

/* 输入框 */
.custom-input{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}
.custom-input:hover{
border:1px solid #3e97eb;
outline:none;
}
.custom-input:focus{
outline:none;
}

/* 按钮 */
.custom-btn{
  color: #fff;
  background-color: #1890ff;
  outline:none;
  margin:auto;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    white-space: nowrap;
    border:none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
}
.custom-btn:hover,.custom-btn:focus{
    background-color: #40a9ff;
}

/* svg */
.custom-svg{
  width: 18px;
  height: 18px;
}